body {
    background-color: #e6eff2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.code-container {
    background-color: #006B94;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #ffff;
}

input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    margin-top: 20px;
    background-color: #a0c7d8;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #004f6e;
}